.route-list {
  /* make room for fixed navbar at the top */
  margin-top: 67px;
}

.route-list-item-active {
  background-color: #f4f4f4;
}

.route-difficulty {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Make text white for dark colors */
.route-color-dark {
  color: #f3f3f3;
}
